body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    font-weight: bold;
    color: gray;
    text-align: center;
}

button {
    font-weight: bold;
margin: 0;position: absolute;top: 50%;left: 32%;transform: translate(0, -50%);}

.hole {
    background-color: grey;
    border-radius: 2em;
    height: 3em;
    /* margin: 1em; */
    border-color: gray;
    border-style: solid;
    width: 3em;
padding: 0;}

.pin {
    background-color: grey;
    border-radius: 3em;
    height: 5em;
    /* margin: 1em; */
    border-color: gray;
    border-style: solid;
    width: 5em;
padding: 0;left: 20%;}

#headline {
    padding-bottom: 20px;
    color: black;
    font-size: 5em;
}

.row {
    height: 8em;

}

.button-wrapper {

    
display: inline-block;width: 6em;height: 8em;/* margin: auto; */position: relative;padding-left: 0.5em;padding-right: 0.5em;}