.board {
  display: grid;
  grid-template-columns: 25px 25px 25px 25px;
  justify-self: center;
  column-gap: 5px;
  row-gap: 5px;
}

body {
  display: grid;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: blue;
  border-radius: 50%;
  display: inline-block;
}

.dot.blue {
  background-color: blue;
}

.dot.red {
  background-color: red;
}

.dot.silver {
  background-color: silver;
}

.dot.green {
  background-color: green;
}

.dot.black {
  background-color: black;
}

.dot.yellow {
  background-color: yellow;
}

.popuptext .dot {
  margin-right: 2px;
  margin-left: 2px;
}

#colorSelectPopup.show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.popuptext {
  visibility: hidden;
  width: 110px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  top: 35px;
  left: 50%;
  margin-left: -55px;
}
